*.pyc
*.fif
*.pkl
*.edf
.\amica
.\amica_out
.\data\ 
*.html
combined_code.py
combined_py_files.py
export_repo_structure.py
repo_structure.txt
.png
.pdf
.svg
.eps
.ps
.png
.pdf
.svg
.eps
.ps
.png
.pdf
.svg
.eps
.ps
.log
.log.1
.log.2
.log.3
.log.4
.log.5
.bat
*.bat
*.bat.1
*.bat.2
*.bat.3
*.bat.4
*.bat.5
*.bat.6
*.bat.7
*.bat.8
*.bat.9
*.bat.10
*.bat.11
*.bat.12
test_output/
.png 
test_*.py
check_*.py
run_*.py
example_*.py
gonogo_*.py
gonogo_*.pmd
task_config.py
task_config.py.1
task_config.py.2
task_config.py.3
task_config.py.4
task_config.py.5
*.png
*.pdf
*.svg
*.eps
*.ps
*.log
*.log.1
*.log.2
